@font-face {
    font-family: 'Kenia';
    src: url('../assets/fonts/Kenia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    list-style: none;
    text-decoration: none !important;
}

body {
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: black;
    color: white;

}

.page-header {
    max-width: 100%;
    width: 100%;

}

.navigation {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 7rem;
    margin-bottom: 4%;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 100px;
    flex-direction: row;
}

.logo {
    width: 60px;
    height: 80px;
}

.navigation-link {

    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: aliceblue;
    transition: transform 0s ease-in-out, color 0s;

}

.navigation-link:hover {
    display: inline-block;
    transform: scale(1.05);
    color: rgb(255, 60, 0);
}

.intro-container {
    display: flex;
    position: relative;
}

.intro-inner-content {
    justify-content: left;
    margin-inline: 10%;
    margin-top: 5%;

}

.intro-object {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 23%;
    height: 750px;
    background: gcd(0, 0, 0, 100);
    border-radius: 40px;
    margin-inline: 15%;
    border: 20px solid rgb(150, 140, 140);

}

.phone-background {
    position: absolute;
    top: -5px;
    right: 23%;
    width: 55%;
    height: 5%;
    background-color: rgb(150, 140, 140);
    border-radius: 10px;
    z-index: 3;

}

.intro {
    display: flex;
}

.intro-title {
    font-size: clamp(40px, 8vw, 120px);
    line-height: clamp(44px, 8vw, 125px);
    text-transform: uppercase;
    font-family: 'Kenia', sans-serif;
    margin-bottom: clamp(10px, 5vw, 100px);
}

.waves {
    margin-top: 10%;
    margin-inline: 20%;
    display: flex;
    gap: 20px;
}

.wave:nth-child(1) {

    animation: waveGo1 1.02s infinite;
}

.wave:nth-child(2) {

    animation: waveGo2 5s infinite;
}

.wave:nth-child(3) {

    animation: waveGo1 2.05s infinite;
}

.wave:nth-child(4) {

    animation: waveGo2 1s infinite;
}

.wave {
    width: 20px;
    height: 90px;
    background-color: rgb(118, 118, 118);
    border-radius: 100px;
}

@keyframes waveGo1 {

    0%,
    100% {
        height: 140px;
    }

    50% {
        height: 90px;
    }
}

@keyframes waveGo2 {

    0%,
    100% {
        height: 120px;
    }

    50% {
        height: 85px;
    }
}

.intro-image {
    position: absolute;
    top: 190px;
    right: 15%;
    width: 250px;
    height: 250px;
    border: 5px solid rgba(251, 255, 254, 0.3);
    border-radius: 200px;
    z-index: 3;
    animation: imageBit 0.3s ease-in-out infinite, imageBit2 0.5s ease-in-out infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes imageBit {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.03);
    }
}

@keyframes imageBit2 {
    0% {
        transform: scale(1.06);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1.03);
    }
}

.intro-object::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(130deg, #1585bd98 30%, rgba(234, 32, 5, 0.552) 100%);
    animation: fadeInOut 4s ease-in-out infinite;
    border-radius: 20px;
    z-index: 1;
}

/* Второй градиент */
.intro-object::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(130deg, rgba(234, 32, 5, 0.552) 30%, #1585bd98 100%);
    animation: fadeInOut 6s ease-in-out infinite;
    animation-delay: 1s;
    /* смещаем анимацию на половину цикла */
    z-index: 2;
    border-radius: 20px;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.soundtrack {
    position: absolute;
    width: 250px;
    height: 4px;
    border-radius: 200px;
    background: linear-gradient(90deg, rgb(107, 107, 107), rgb(206, 206, 206));
    z-index: 3;
    top: 470px;
    left: 50px;
    animation: moveGradient 4s ease-in-out infinite;
}

.soundtrack-button {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 200px;
    background-color: rgb(219, 218, 218);
    z-index: 4;
    top: 467px;
    left: 50px;
    animation: soundGo 20s ease-in-out infinite;

}

@keyframes soundGo {
    0% {
        left: 50px;
    }

    100% {
        left: 300px;
    }
}

.play-button {
    width: 90px;
    height: 90px;
    top: 500px;
    right: 130px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.play-button::before {
    content: '';
    position: absolute;
    left: 34px;
    top: 30px;
    width: 0;
    height: 0;
    border-left: 25px solid #000;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}


.page-main {
    display: block;
    padding-top: 8%;
}

.music-section {
    display: block;
    height: 1000px;

}

.main-title {
    margin-inline: 10%;
    font-weight: 700;
    font-size: 45px;

    margin-bottom: 8%;
}

.music-container {
    display: flex;
    justify-content: center;
}

.music-list {
    margin-inline: 9%;
    margin-top: 10%;
}

.music-button {
    justify-items: center;
    font-size: 30px;
    padding: 10px;
    width: 400px;
    margin-bottom: 40%;
    background-color: rgb(255, 60, 0);
    color: aliceblue;
    border-radius: 50px;
    transition: transform 0s ease-in-out, background-color 0s ease-in-out, color 0s ease-in-out;
}

.music-button:hover {
    transform: scale(1.05);
    background-color: rgb(156, 41, 6);
    color: rgb(171, 173, 175);
}

.about-section {
    display: block;
    background: linear-gradient(180deg, black,rgb(255, 60, 0), black);

    min-height: 100vh;
    overflow: hidden;
}

.about-text {
    margin-top: 23%;
    padding-inline: 10%;
    margin-inline: 10%;
    font-size: 220%;
}

.store-section {
    display: block;
    height: 900px;
}

.store-container {
    display: flex;
}

.store-inner-content {
    margin-top: 8%;
    display: block;
    margin-left: 8%;
    width: 400px;


}

.store-button {
    font-size: 30px;
    width: 450px;
    margin-bottom: 20px;
    border-radius: 100px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 60, 0);
    transition: transform 0s ease-in-out;
}

.store-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 60, 0);
    transform: scale(1.05);
}

.store-text {
    font-size: 20px;
    text-align: center;
    flex: wrap;
    margin-top: 5%;

}

.store-subtitle {
    flex: wrap;
    margin-top: 10%;
    margin-left: 9%;
    text-align: center;
}

.store-link {
    font-size: 17px;
    line-height: 22px;
    color: rgb(247, 78, 26);
    font-weight: 700;
    transition: transform 0s ease-in-out;
}

.store-link:hover {
    color: rgb(182, 53, 13);
    transform: scale(1.05);

}

.store-object {
    position: relative;
    margin-left: 13%;
    margin-right: 10%;
    width: 80%;
    height: 500px;
    border: 30px solid rgb(108, 108, 108);
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    z-index: 1;
}

.laptop-floor {
    position: absolute;
    top: 457px;
    right: -70px;
    width: 120%;
    height: 50px;

    border-radius: 15px;
    background-color: rgb(108, 108, 108);
    z-index: 2;
}

.laptop-title {
    position: absolute;
    top: 10px;
    left: 20px;
}

.display-menu {
    position: absolute;
    left: 10px;
    top: 80px;
    z-index: 2;

}

.search {
    border-radius: 20px;
    width: 90px;
    height: 20px;
    padding: 10px;
    margin-bottom: 30px;
}

.menu-list {
    position: absolute;
    z-index: 2;
}

.display-button {
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;

    width: 90px;
    height: 20px;
    border-radius: 100px;
    font-size: 12px;
    background-color: rgb(255, 60, 0);
    color: aliceblue;
}

.display-button:hover {
    transform: scale(1.05);
    background-color: aliceblue;
    color: rgb(255, 60, 0);
}

.line:nth-child(1) {
    position: absolute;
    top: 70px;
    height: 1px;
    width: 100%;
    background-color: rgb(113, 115, 117);
    z-index: 2;
}

.line:nth-child(2) {
    position: absolute;
    left: 110px;
    height: 100%;
    width: 1px;
    background-color: rgb(113, 115, 117);
    z-index: 2;
}

.line:nth-child(3) {
    position: absolute;
    top: 370px;
    height: 1px;
    left: 15.5%;
    width: 84%;
    background-color: rgb(113, 115, 117);
    z-index: 2;
}

.display-header {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 100px;
    margin: 0 auto;
    z-index: 2;
}

.soundtrack--display-header {
    position: absolute;
    top: 40px;
    left: 200px;
    width: 500px;
    height: 12px;
    border-radius: 200px;
    background: linear-gradient(90deg, rgb(107, 107, 107), rgb(206, 206, 206));
    z-index: 1;
}

.soundtrack-button--display-header {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 34px;
    left: 200px;
    border-radius: 200px;
    background-color: rgb(219, 218, 218);
    z-index: 2;
    animation: soundGo1 20s ease-in-out infinite;
}

@keyframes soundGo1 {
    0% {
        left: 200px;
    }

    100% {
        left: 600px;
    }
}

.image--display-header {
    position: absolute;
    top: 5px;
    left: 130px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: solid 1px rgb(113, 115, 117);
    z-index: 3;
}

.title--display-header {
    position: absolute;
    top: 5px;
    right: 230px;
    font-size: 18px;
    color: white;
    z-index: 3;
}

.display-main {
    text-align: center;
    margin-top: -16px;
    margin-left: 160px;
    position: absolute;
    z-index: 2;
    display: block;
}

.item--display-main {
    display: flex;
    flex-direction: column;
    align-items: left;
    /* или что-то фиксированное */
    text-align: center;
    width: 100px;
    gap: 3px 3px;
}

.list--display-main {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 800px;
    gap: 10px 5px;

}

.image--display-main {
    width: 80px;
    height: 80px;
}

.title--display-main {
    width: 80px;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 1px;
    color: aliceblue;
}

.author--display-main {
    width: 80px;
    font-size: 7px;
    line-height: 7px;
    color: aliceblue;
}

.author--display-main:hover {
    transform: scale(1.05);
    color: palevioletred;

}

.button--display-main {
    margin-bottom: 10px;
    border-radius: 100px;
    font-size: 10px;
    height: 30px;
    width: 50px;
}

.button--display-main:hover {
    transform: scale(1.05);
    background-color: aliceblue;
    color: rgb(255, 60, 0);
}

.display-footer {
    display: flex;
    position: relative;
    width: 100%;
    text-align: center;
}

.menu--display-footer {
    position: absolute;
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    z-index: 2;
    top: 290px;
    left: 150px;
    gap: 10px;
}

.button--display-footer {
    background-color: rgb(107, 107, 107, 0%);
    border: solid 1px rgb(107, 107, 107, 0%);
}
.musicbuttonlist--display-footer{
    position: relative;
    display: flex;
    width: 100%;
    top: 280px;
    left: 300px;
    gap: 50px;
}
.playbutton--display-footer {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.playbutton--display-footer::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 10px;
    width: 0;
    height: 0;
    border-left: 15px solid #000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.forwardbutton--display-footer{
    border: rgb(0,0,0,0);
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100px;
}
.backbutton--display-footer{
    border: rgb(0,0,0,0);
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 100px;
}
.backbutton--display-footer:hover{
    transform: scale(1.05);
    background-color: rgb(255, 60, 0);
}
.forwardbutton--display-footer:hover{
    transform: scale(1.05);
    background-color: rgb(255, 60, 0);
}
.playbutton--display-footer:hover{
    transform: scale(1.05);
    background-color: rgb(255, 60, 0);
}
.volume{
    position: absolute;
    width: 200px;
    height: 10px;
    top: 300px;
    left: 480px;
    background-color: rgb(151, 151, 151);
    border-radius: 100px;
}
.volume-button{
    position: absolute;
    border-radius: 100px;
    height: 20px;
    width: 20px;
    top: 295px;
    left: 480px;
    background-color: rgb(224, 220, 220);
    animation: volumeGo 4s ease-in-out infinite;
    z-index: 3;
}
@keyframes volumeGo{
    0%, 100%{
        left:480px;
    }
    50%{
        left:670px;
    }
}
.volume-settup{
    position: absolute;
    width: 200px;
    height: 10px;
    top: 300px;
    left: 480px;
    background-color: rgb(235, 115, 51);
    border-radius: 100px;
    animation: volumeSettup 4s ease-in-out infinite;
    z-index: 2;
}
@keyframes volumeSettup {
    0%, 100%{
        width: 10px;
    }
    50%{
        width: 200px;
    }
}
.page-footer{
    display: block;
    width: 100%;
    height: 500px;
    background: linear-gradient(180deg,  black ,rgb(255, 60, 0));
}
.service{
    margin-top:200px;
    display:flex;
    gap: 60px 100px;
}
.service-link{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    line-height: 25px;
    
}
.service-link:hover{
    color: rgb(255, 60, 0);
}
.service-subtitle{
    font-size: 28px;
    
}
.service-title{
    margin-top:200px;
    margin-left: 150px;
    font-family: 'Kenia', sans-serif;
    font-size: 80px;
    line-height: 70px;
}
.service-store,
.values-store,
.account-store {
    line-height: 30px;
}
.service-store {
    margin-left: 250px;
}
.contacts{
    margin-left: 150px;
}
.contacts-list{
    display: flex;
    gap: 120px;
}
.contacts-link{
    font-size: 20px;
    color:aliceblue;
}
.contacts-link:hover{
    color: rgb(0, 0, 0);
}

